body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 3px solid black;
    width: 50rem;
    margin-left: 12rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pokedex-img {
  margin-left: 10rem;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

li {
  text-align: center;

}
